.header{
  display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;

}
ejs-documenteditorcontainer {
    border: 1px solid #ccc;
    margin: 1em 0;
  }
  // .e-de-tool-ctnr-properties-pane{
  //   min-height: 100%;
  // }

  .file-upload-btn {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .file-upload-btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }
  
  .file-upload-btn input[type="file"] {
    display: none; 
  }
  .e-documenteditor-optionspane{
    height: 100%;
    #document-editor_editor_viewerContainer{
      height: 100% !important;
    }
  }